body {
 background-color: #000000;
 background-image : url('background06.png');
 background-position : left top;
 background-attachment: fixed;
 background-repeat: no-repeat;
 color:#30F000;
 font-family: sans-serif;
 font-size: 1em;
 text-align : justify;
}

.simple_text_bold {
 font-weight:bold;
}

.to_cool_for_IE {
 float:left;
 left:0px;
 top:0px;
 right:auto;
 position:relative;
 width:80px;
 height:80px;
}

.content_box {
 background-image : none;
 margin-top:20px;
 margin-left:160px;
 width:800px;
 margin-bottom:0px;
 height:auto;
 bottom:0px;
}

.content_header {
 background-color: #000000;
 background-image : url('headline.png');
 background-position : left top;
 background-repeat: no-repeat;
 color:#000;
 height:45px;
}
.content_footer {
 background-color: #000000;
 background-image : url('footline2.png');
 background-position : left bottom;
 background-repeat: no-repeat;
 color:#000;
 height:45px;
}

.topic {
 width:560px;
 min-width:560px;
 display:block;
 margin-top:20px;
 margin-bottom:10px;
 margin-left:10px;
 padding-left:20px;
 padding-top:2px;
 padding-bottom:2px;
 background-color: #080808;
 background-image : url('topic2.png');
 background-position : left top;
 background-repeat: repeat-y;
 padding-left:20px;
 font-weight:bold;
 color:#2FFF00;
}

h1 {
  font-size:180%;
}
h2 {
  font-size:150%;
}
h3 {
  font-size:125%;
}
h4 {
  font-size:110%;
}

h2.topic {
 padding-left:30px;
}

h3.topic {
 padding-left:50px;
}

h4.topic {
 padding-left:60px;
}

.content {
 background-color: #080808;
 background-image : none;
 margin:0px;
 color:#40C000;
 padding:20px;
 min-height:400px;
 z-index:1000;
}

.smallfont {
 font-size: 0.9em;
 margin-top: -10px;
}

.friendsblock {
  width:600px; 
  float:left;
  top:0px;
}

.friends {
  width:600px; 
  float:none;
}

a.friends {
  margin-left:15px;
  margin-right:15px;
}

/* Default: images without borders */
a img {
 border: none;
}

/* Screenshot */
div.screenshot {
 clear:both
}

div.screenshot h2 {
 font-size:20px;
}

div.image {
 margin-top:10px;
 margin-bottom:50px;
 padding-top: 10px;
 padding-bottom: 15px;
 padding-left: 20px;
 padding-right: 20px;
 background-color:#020202;
 border: 1px solid green;
 font-size:14px;
 clear:both;
 color:#0f0;
}

.center_text {
 text-align:center;
}

.center_support {
margin-left:100px;
width:400px;
 text-align:center;
 font-size:0.8em;
}


/* Default: format links/hoovers */
a:link, a.intern:link, a.extern:link {
 color:#10D000;
}

a:visited, a.intern:visited, a.extern:visited {
 color:#008000;
}

a:hover, a.intern:hover, a.extern:hover {
 color:#3FFF00;
}

a:active, a.intern:active, a.extern:active {
 color:#008000;
}

/*    external links    */
a.extern {
 background-color:transparent;
 background-image:url('link_external_black.png');
 background-repeat:no-repeat;
 background-position:left;
 text-decoration:none;
 font-weight: bold;
 padding-left:18px;
}

/*    internal links    */
a.intern {
 background-color:transparent;
 background-image:url('link_internal_black.png');
 background-repeat:no-repeat;
 background-position:left;
 text-decoration:none;
 font-weight: bold;
 padding-left:18px;
}

/*    navigation block    */

.content_menu {
 background-color: #000000;
 background-image : none;
 border:1px solid green;
 width:9.0em;
 color:white;
 left:160px;
 margin-left:3.5em;
 margin-top:0.0em;
 margin-right:0.0em;
 margin-bottom:0.5em;
 padding-left:0.1em;
 padding-right:0.1em;
 padding-top:0.5em;
 padding-bottom:0.1em;
 float:right;
 text-align:left;
}

.helplist {
 list-style-type:none;
}

.menulist {
 background-color:#000000;
 list-style-type:none;
 padding:0em;
 margin:0em;
 border:0em;
}

.content_menu ul.menulist li a {
 width:8.5em;
 margin-top:1px;
 margin-bottom:1px;
 display:block;
 font-weight: bold;
 font-size:0.9em;
 color:#0C8000;
 text-align:left;
 border-left:0.5em solid #000000;
 border-right:0.5em solid #000000;
 background-image:none;
 padding-left:0.5em;
}

.content_menu ul.menulist li.active {
 width:9em;
 margin-top:1px;
 margin-bottom:1px;
 display:block;
 font-weight: bold;
 font-size:0.9em;
 background-color:#408000;
 border-left:0.5em solid #0FFF00;
 border-right:0.5em solid #000000;
 color:#BBFF00;
 text-align:center;
}

.content_menu ul.menulist a.intern {
 color:#0C8000;
}

.content_menu ul.menulist a.extern {
 color:#800000;
}

.content_menu ul.menulist a.intern:link a.intern:visited {
 color:#0C8000;
}

.content_menu ul.menulist li a.intern:hover {
 border-left:0.5em solid #000000;
 border-right:0.5em solid #0FFF00;
 background-color:#186000;
 color:#0FFF00;
}

.content_menu ul.menulist a.intern:active {
 border-left:0.5em solid #000000;
 border-right:0.5em solid #088800;
 background-color:#186000;
 color:#088800;
}

.content_menu ul.menulist a.extern:link a.extern:visited {
 color:#800000;
}

.content_menu ul.menulist a.extern:hover {
 border-left:0.5em solid #000000;
 border-right:0.5em solid #FF0000;
 background-color:#600000;
 color:#FF0000;
 text-align:center;
}

.content_menu ul.menulist a.extern:active {
 border-left:0.5em solid #000000;
 border-right:0.5em solid #880000;
 background-color:#600000;
 color:#880000;
}

.rss_logo {
 padding-top:0.5em;
 padding-left:0em;
}

.sfnet_logo {
 padding:0.0em;
}



/* Alert boxes */
.alert { 
  background: #CDFFB7 url('attention.png') center no-repeat; 
  background-position: 15px 10px;
  text-align: left; 
  padding: 5px 20px 5px 70px; 
  border-top: 2px solid #3CD811; 
  border-bottom: 2px solid #3CD811;
  margin-bottom: 20px;
  margin-left:auto;
  margin-right:auto;
  text-align: justify;
  color:#006614;
  min-height:50px;
  min-width:600px;
}

/*    external links    */
.alert a.extern {
 background-image:url('link_external_alert.png');
}

/*    internal links    */
.alert a.intern {
 background-image:url('link_internal_alert.png');
}

div.slackdesc {
 margin-top:10px;
 margin-bottom:10px;
 padding-top: 0px;
 padding-bottom: 0px;
 padding-left: 10px;
 padding-right: 10px;
 background-color:#303030;
 border:1px solid black;
 font-size:80%;
 color:#ddd;
}

/*    buildscripts table layout    */
div.table div.tr {
 width:760px;
 font-size:12px;
 background-color:#000;
}

div.th {
 float: none;
 background-color:#040;
 font-weight:bold;
 color:#0f0;
 margin:0px;
 padding:5px;
 border-bottom:1px solid black;
}

div.thcat {
 float: none;
 clear:both;
 background-color:#444;
 font-weight:bold;
 color:#fff;
 margin-left:30px;
 margin-right:234px;
 margin-top:0px;
 margin-bottom:0px;
 padding:5px;
 border-top:20px solid #080808;
 border-bottom:1px solid black;
 min-height:30px;
 height:30px;
 font-size:1.1em;
}

div.tr {
 display:block;
 float:left;
 margin:0px;
 padding:0px;
 border-bottom:1px solid #080808;
 background-color:#404040;
}

tdate1 {
 background-color:#ffffff;
}

div.tc1, div.tc2, div.tc3, div.tc4, div.tc4new1, div.tc4new2, div.tc4new3, div.tc5, div.tc6, div.tc7 {
 display:block;
 color:#eee;
 float:left;
 margin:0px;
 padding-left:5px;
 padding-right:5px;
 padding-top:2px;
 padding-bottom:0px;
 min-height:26px;
 height:26px;
}

div.tc1 {
 background-color:#404040;
 width:30px;
 padding:0px;
 padding-top:2px;
 background-image: url('slackdesc.png');
 background-position:top center;
 background-repeat:no-repeat;
}

div.tc1:hover {
 background-color:#006000;
 background-image: url('slackdesc_hover.png');
}

div.tc1 pre {
 top:-20px;
 left:38px;
 position:relative;
 width:610px;
 float:left;
 display:none;
 z-index:1000;
 margin-top:10px;
 margin-bottom:10px;
 padding-top: 10px;
 padding-bottom: 10px;
 padding-left: 10px;
 padding-right: 10px;
 background-color:#F8FF80;
 border:2px solid black;
 color:#ddd;
 color:#000;
 font-weight:bold;
 min-height:120px;
 font-size:14px;
}

div.tc1:hover pre {
  display:block;
}

div.tc2 {
 line-height:2em;
 background-color:#808080;
 width:336px;
 /* font-size:14px; */
 font-size:1em;
}

div.tc2:hover {
 background-color:#006000;
}

div.tc3 {
 font-size:0.9em;
 line-height:2em;
 text-align:left;
 background-color:#707070;
 width:120px;
}

div.tc4 {
 font-size:0.9em;
 line-height:2em;
 text-align:center;
 background-color:#606060;
 width:80px;
}

div.tc4new1 {
 font-size:0.9em;
 line-height:2em;
 text-align:center;
 background-color:#587058;
 width:80px;
}

div.tc4new2 {
 font-size:0.9em;
 line-height:2em;
 text-align:center;
 background-color:#386038;
 width:80px;
}

div.tc4new3 {
 font-size:0.9em;
 line-height:2em;
 text-align:center;
 background-color:#104010;
 width:80px;
}

div.tc5 {
 font-size:0.9em;
 line-height:2em;
 text-align:center;
 background-color:#505050;
 width:100px;
}

div.tc6 {
 background-color:#404040;
 width:28px;
 padding:0px;
 padding-top:2px;
/* padding:0px 0px 0px 6px; */
}

div.tc7 {
 background-color:#080808;
 width:24px;
 padding:0px 0px 1px 1px;
}

div.tc2 a {
 text-decoration:none;
 font-weight:bold;
 background-image:none;
 padding-left:5px;
 padding-right:5px;
 width:360px;
 display:block;
}

div.tc2 a:link {
 color:#DDDDDD;
}

div.tc2 a:visited {
 color:#DDDDDD;
 text-decoration:line-through;
}

div.tc2 a:hover, div.tc2 a:active {
 color:#FFFFFF;
}

div.clear {
  clear:both;
}

a.tl {
 text-decoration:none;
 font-weight:bold;
 font-size:16px;
}

/* Box code for news entries */
.whatsup {
  background-color: #040404;
  border: 1px solid black;
  margin-bottom: 30px;
}

.whatsup .date {
 font-size: 14px;
 float: left;
 background-color: #004000;
 color: #80FF80;
 text-align: center;
 line-height: 1.1em;
 padding: 5px 2px 5px 2px;
 margin: -10px 10px 0px -2px;
 min-height: 35px;
 width: 60px;
}

.whatsup .date:first-line {
 font-size: 80%;
}

.whatsup .headline {
 background-color: #006000;
 border-bottom:1px solid #80ff80;
 color:#4FFF00;
 font-family:sans-serif;
 font-size:120%;
 font-weight:bold;
 margin: 0 0 0 0;
 padding: 10px 10px 0px 2px;
 min-height:35px;
}

.whatsup .whatsuptext {
 background-color: #040404;
 margin:0px;
 color:#40C000;
 text-align: justify;
 padding: 0px 10px 0px 10px;
}

hr {
 height:1px;
 border:none;
 background-color:#080;
 color:#080;
}

.help_text {
 padding-left:20px;
}

.help_text:first-line {
 font-size: 110%;
 font-weight:bold;
}

.checkthis {
 text-decoration: none;
 text-align: center;
 font-size:80%;
 font-weight:bold;
}

a.link_blank:link {
 color: #060;
 text-decoration: none;
}
a.link_blank:active {
 color: #060;
 text-decoration: none;
}
a.link_blank:visited {
 color: #060;
 text-decoration: none;
}
a.link_blank:hover {
 color: #060;
 text-decoration: none;
}

div.faq {
 background-color:#090909;
 border: none;
 padding:5px 10px 5px 10px;
 color:#0e0;
 margin-bottom:30px;
}
div.faq a:link {
 color:#0f0;
}
div.faq a:visited {
 color:#0d0;
}
div.faq a:hover {
 color:#0a0;
}
div.faq a:active {
 color:#0e0;
}


.code,.code_fixed {
    background-color : #000;
    background-image : url('code_dark.png');
    background-position : top left;
    background-repeat : repeat;
    font-size: 0.9em;
    margin-left: 40px;
    border : 1px solid green;
    padding: 0px 10px 0px 20px;
    text-align: left;
    color: #0e0;
  }

p.code,p.code_fixed {
 padding-top:10px;
 padding-bottom:10px;
}
.code pre {
    font-family : sans-serif;
    font-size: 0.9em;
    line-height:1.5em;
}

.code_fixed pre {
    font-family :  Courier, 'Sans';
    font-size: 0.9em;
    line-height:1.5em;
}

.code_block {
    margin-left: -90px;
    width: 940px;
}

.code_block_header {
    background-image: url('code_header.png');
    height:58px;
}

.code_block_header h3 {
    border:0px;
    padding-top:15px;
    padding-left:60px;
}

.code_block_content {
    background-image: url('code_content_dark.png');
    background-repeat: repeat-y;
    padding-left:30px;
    padding-right:30px;
}

.code_block_content pre {
    font-family : sans-serif;
    font-size: 0.9em;
    line-height:1.5em;
    margin:0px;
    border:0px;
    color: #0e0;
}

.code_block_content p {
    margin:0px;
    border:0px;
}

.code_block_footer {
    background-image: url('code_footer.png');
    height:62px;
    margin-bottom:20px;
}

.code_info {
  float:left;
  padding-top:15px;
  padding-left:30px;
  height:24px;
  width:24px;
}

div.template {
 background-color:#080808;
 border: none;
 padding:5px 10px 15px 10px;
 color:#0e0;
 margin-bottom:80px;
}

div.slp {
 font-size: 0.9em;
 text-align: left;
 color: #0c0;
}
div.slp a:link {
 color: #0a0;
 text-decoration: none;
}
div.slp a:active {
 color: #0f0;
 text-decoration: none;
}
div.slp a:visited {
 color: #0a0;
 text-decoration: none;
}
div.slp a:hover {
 color: #0f0;
 text-decoration: none;
}

